*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: 200;
    color:var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}
h1::selection{
    color: white;
   background-color: rgb(115, 55, 147);
}
p::selection{
    color: white;
    background-color: rgb(115, 55, 147);
}
#main{
    width:100%;
    padding:150px 10px ;

    text-align: center;

}
h1{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 45px;
}
p {
    font-size: 19px;
    margin:0 auto;
}
input {
    width:100%;
    height: 50px;
    border: none;
    border-radius:30px;
    box-shadow:0px 5px 3px 1px rgb(115, 55, 147);
    transition:2s;
}
 
input[placeholder] {
    padding-left:10px;
    text-align: center;
    font-size: 18px;
}
button {
    margin-top:25px;
    width:100%;
    height: 40px;
    border-radius:30px;
    background-color: black;
    color:white;
    border:none;
    cursor:pointer;
    box-shadow: 0px 6px 2px 1px rgb(115, 55, 147);
    font-size: 18px;
    transition:.7s;
}
button:active{
    transition:.2s;
    transform: translateY(10px);
    box-shadow: 0px 0px 0px 0px ;
}